*{
    margin: 0;
}

.header{
    height: 150px;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}

.navigation{
    height: 150px;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
}

.content{
    overflow: hidden;
}

.left{
    height: 600px;
    width: 80%;
    background-color: red;
    text-align: center;
    float: left;
}

.sidebar{
    height: 600px;
    width: 20%;
    background-color:burlywood;
    text-align: center;
    float: left;
}

.summary{
    height: 150px;
    width: 100%;
    background-color: chocolate;
    text-align: center;
}

.footer{
    height: 150px;
    width: 100%;
    background-color: rosybrown;
    text-align: center;
}


.top{
    height: 50%;
    width: 100%;
    background-color: skyblue;
    text-align: center;
}

.bottom{
    height: 50%;
    width: 100%;
    background-color:darkred;
    text-align: center;
}